<%= javascript_include_tag "jquery.js" %>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label (t 'first_name')  %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label (t 'last_name')  %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label (t 'middle_name')  %><br>
    <%= f.text_field :middle_name %>
  </div>

  <div class="field">
    <%= f.label :'Date of birth' %><br>
    <%= f.text_field :birth_date %>
  </div>

  <div class="field">
    <%= f.label (t 'birth_place_country')  %><br>
    <%= f.text_field :birth_place_country %>
  </div>

  <div class="field">
    <%= f.label :birth_place_state %><br>
    <%= f.text_field :birth_place_state %>
  </div>

  <div class="field">
    <%= f.label :birth_place_city %><br>
    <%= f.text_field :birth_place_city %>
  </div>

  <div class="field">
    <%= f.label (t 'country_') %><br>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label (t 'state_') %><br>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label (t 'city_') %><br>
    <%= f.text_field :city %>
  </div>

  
  

  <div class="actions">
    <%= f.submit(value=(t 'submit_')) %>
  </div>

<% end %>
