  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label (t 'username_') %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label (t 'age_') %><br>
    <%= f.text_field :age %>
  </div>


 <br>

  <div class="description">
    <%= f.label (t 'description_') %><br>
    <%= f.text_area :description, size: "60 x 6" %>
  </div>
  <br>


  <div class="field">
    <%= f.label ('interests_') %><br>
    <%= f.text_area :interests, size: "60 x 6" %>
  </div>



 <br>
 
  <div class="actions">
    <%= f.submit(value=(t 'submit_')) %>
  </div>

<% end %>
